<!DOCTYPE html>
<html>
  <head>
    <title>Calculadora de Dano - RPG</title>
    <link rel="stylesheet" type="text/css" href="/static/estilos/style.css" />
  </head>
  <body>
    <div class="calculadora-dano">
      <div class="linha-container">
        <h1 class="titulo pula-linha">Calculadora de Dano</h1>
      </div>

      <div class="linha-container">
        <h2>Selecione um personagem</h2>
      </div>

      <div class="elementos-container">
        <div class="elemento item" id="humano">
          <div class="box">
            <img src="/static/img/youmAnime.png" alt="humano" width="200px" height="200" />
          </div>
          <p>Humano</p>
        </div>

        <div class="elemento item" id="slime">
          <div class="box">
            <img
              src="/static/img/Rimuru_Slime_Anime.png"
              alt="Slime"
              width="200"
              height="200"
            />
          </div>
          <p>Slime</p>
        </div>

        <div class="elemento item" id="lizardmen">
          <div class="box">
            <img
              src="/static/img/gabiruLizardman.png"
              alt="Lizardmen"
              width="200 px"
              height="200 px"
            />
          </div>
          <p>Lizardmen</p>
        </div>
      </div>

      <div class="linha-container">
        <h2>Selecione uma arma</h2>
      </div>

      <div class="elementos-container">

        <div class="elemento item">

          <div class="elemento arma box" id="tridente">
            <img src="/static/img/tridente.png" alt="Tridente" width="200" height="200" />
          </div>

          <p>Tridente</p>

        </div>

        <div class="elemento item">
        
            <div class="elemento arma box" id="katana">
                <img src="/static/img/katana.png" alt="Katana" width="200" height="200" />
            </div>
            <p>Katana</p>

        </div>

        <div class="elemento item">
            <div class="elemento arma box" id="espada">
                <img src="/static/img/espada.png" alt="Espada" width="200" height="200" />
            </div>
            <p>Espada</p>
        </div>
    </div>

      <div class="linha-container">
        <button id="calcular" type="button">Calcular Dano</button>
      </div>

      <div class="linha-container">
        <span id="dano"></span>
      </div>
    </div>
  </body>
</html>
